header, article, footer{

    padding: 5;
}

html{
    background-color: black;
}

#container{
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

#body{
    background-color: rgb(209, 199, 233);
}

#navigation{
    position: relative;
    bottom: 47;
    text-align: right;
}

a{
    text-decoration: none;
}

a:link{
    color: white;
    
}

a:visited{
    color: white;
}

a:hover{
    color: rgb(166, 102, 255);
}

header{
    text-align: left;
    color: white;
    background-color: rgb(55, 48, 65);
    height: 80
}

article{
    float: right;
    width: 48%;
    height: 27.3%
}

#profilepicture{
    float: left;
    width: 480;
    padding: 1em 0em 0em 1em;
    margin-bottom: 15
}

footer{
    text-align: center;
    clear: both;
}